html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #7395AE;
  font-family: 'Alata';
}

.logout {
  background-color: red;
  color: white;
  border-radius: 6px;
}

.spaced-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  max-width: 1024px;
  width:  90%;
  margin: 30px auto 20px;
  height: 100%;
}

h1, h2, h3 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 1px #000000;
}

.modal {
  width: 80%;
  max-width: 1024px;
  border-radius: 6px;
  padding: 25px;
  position: absolute;
  top: 20vh;
  background-color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.submit-btn {
  margin: 0 auto;
}

.table-row:hover {
  transition: 0.3s;
  background-color: rgba(0,0,0,0.05);
  cursor: pointer;
}

.add-song-field {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none;
  }

  /* on mobile align left */
  .MuiTableCell-alignRight {
    text-align: left;
  }

  .MuiTableCell-alignRight.delete-btn {
    text-align: right;
  }
}
